pydantic-settings>=2.9.1
pytest>=8.3.5
ruff>=0.11.8
black>=25.1.0
isort>=6.0.1
advanced-alchemy>=1.4.1
asyncpg>=0.30.0
fastapi>=0.115.12
pydantic>=2.11.4
scalar-fastapi>=1.0.3
sqlalchemy>=2.0.40
uvicorn>=0.34.2
bcrypt<4.1
passlib[bcrypt]>=1.7.4
pyjwt>=2.10.1
whisperx>=3.3.1
python-multipart>=0.0.12
freezegun>=1.5.1
pytest-asyncio>=0.26.0
